@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

:root {
  font-family: Noto Sans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.displayNone {
  display: none;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.m-auto {
  margin: auto;
}
.cursor-grab {
  cursor: grab;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-between {
  justify-content: space-between;
}
.slider {
  align-items: center;
  justify-content: center;
  overflow: hidden;}
  .slider .background {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -2; }
    .slider .background .noise {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.1;
      background-repeat: repeat;
      width: 100%;
      height: 100%;
    }
    .slider .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%; }
      .slider .cards .card {
        filter: drop-shadow(0 5px 20px rgba(0,0,0,.4));
        position: absolute;}
        .slider .cards .card img {
            border-radius: 15px; 
            width: 100%;
        }

  .slider .buttons {
    width: 75%;}
    .slider .buttons .button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6.944vw;
      height: 6.944vw;
      cursor: pointer;}
      .slider .buttons .button .circle { 
        position: absolute;
        border: 3px solid #fff;
        opacity: 0.5;
        border-radius: 999px;
        z-index: -1;
        transition: opacity 0.3s ease-in-out;
      }
      .slider .buttons .button .buttonTitle {
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
      }
      .slider .buttons .button:hover .circle {
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
        }
  
  .titres-projet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;}
    .titres-projet h1 {
      z-index: -1;
      position: absolute;
      font-size: 15em;
      text-align:center;
      width: min-content;
      max-width: 1000px;
      white-space: break-space;
      overflow-wrap: break-word;
      margin-left: auto;
      margin-right: auto;
      line-height: 1;
    }

  .buttonProject {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5vw;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #fff !important;
    text-decoration: none;}
    .buttonProject img {
      position: absolute;
      width: 6.944vw;
      z-index: -1;
      opacity: 0.6;
    }